<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReservationSystem</title>
    <link rel="stylesheet" href="@StaticAssets.Url("lib/bootstrap/dist/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@StaticAssets.Url("css/site.css")" />
    <link rel="stylesheet" href="@StaticAssets.Url("ReservationSystem.styles.css")" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="container">
                <div class="row justify-content-md-center mt-md-3">
                    <div class="col col-md-5">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="@StaticAssets.Url("lib/jquery/dist/jquery.min.js")"></script>
    <script src="@StaticAssets.Url("lib/bootstrap/dist/js/bootstrap.bundle.min.js")"></script>
    <script src="@StaticAssets.Url("js/site.js")"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
